
a
{
  text-decoration: none;
  color: white;
}
.headerimg {
  background-image: url(./assets/header.jpg);
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: 50% 56%;
  background-repeat: no-repeat;
  width: 100%;
  height: 380px;
}
.header {
  background-color: #000324;
  top: 116px;
  left: 573px;
  display: flex;
  justify-content: center;
  color: white;
  height: 116px;
  font: normal;
  font-family: dosis;
  font-size: 20px;
}
.header.text {
  display: flex;
  justify-content: center;
  margin-top: 83px;
  margin-bottom: 40px;
  margin-right: 30px;
  width: 76px;
  height: 26px;
  left: 10px;
  margin-bottom: 10px;
  border: 2px solid transparent;
}
.text:hover {
  border: white solid 2px;
}
.headerCenterBox {
  background-color: #000324;
  color: white;
  opacity: 80%;
  position: absolute;
  top: 100px;
  height: 180px;
  width: 59%;
}
.headerCenterText {
  position: absolute;
  top: 50px;
  width: 80%;
  height: 57px;
  left: 11%;
  font-style: normal;
  font-family: dosis;
  text-align: center;
}
.hamsterHome {
  width: 80%;
}
.hamsterHomeImg {
  width: 369px;
  height: 416px;
}
.roomsContainer {
  background-image: url(./assets/bg2.jpg);
  height: max-content;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.weddingCrop {
  background-image: url(./assets/hamsterwedding.jpg);
  background-size: cover;
  scale: (0.95);
  background-position: 50% 50%;
  overflow: hidden;
  margin-left: 6%;
  margin-right: 6%;
}
.fullBloomCrop {
  background-image: url(./assets/hamsterspring.jpg);
  background-size: cover;
  scale: (0.95);
  background-position: 50% 50%;
  overflow: hidden;
}
.seedCrop {
  background-image: url(./assets/hamstercheese.jpg);
  background-size: cover;
  scale: (0.95);
  background-position: 50% 50%;
  margin-left: 6%;
  margin-right: 6%;
}
.amenitiesBG {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 538px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}
.centerMe {
  display: flex;
  justify-content: center;
  text-align: center;
}
.sourceSans3 {
  font-size: 16px;
  font-family: 'Source Sans 3', sans-serif;
}
.dosis {
  font-family: dosis;
}
.reserve {
  background-color: #000324;
  top: 207px;
  left: 573px;
  width: 76.8%;
  display: flex;
  justify-content: center;
  color: white;
  height: fit-content;
  font: normal;
}
.footer {
  background-color: #000324;
  height: 300px;
  width: 100%;
}
.footerimg {
  background-image: url(./assets/hamsterreserve.jpg);
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: 50% 56%;
  background-repeat: no-repeat;
  width: 76.8%;
  height: 380px;
}
.rightMe {
  display: flex;
  justify-content: right;
}
.spaceMe
{
  display: flex;
  justify-content: space-between;
}